@font-face {
  font-family: 'TT Norms';
  font-weight: 300;
  src: url('./TTNormsPro-Light.woff') format('woff');
}

@font-face {
  font-family: 'TT Norms';
  font-weight: 400;
  src: url('./TTNorms-Regular.woff') format('woff');
}

@font-face {
  font-family: 'TT Norms';
  font-weight: 500;
  src: url('./TTNorms-Medium.woff') format('woff');
}
